.week-view {
	overflow: auto;
	/* height: 100%; */
	max-height: 56vh;
	margin: 10px;
	.weekday-column {
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-items: center;
		// width: 60px;
		// width: 98%;
		position: sticky;
		top: 0;
		.weekday-header {
			/* height: 60px; */
			display: flex;
			width: 98%;
			justify-content: space-around;
			padding-left: 60px;
			background-color: #b38add;
			// opacity: 0.8;
			color: #fff;
			.weekday-row {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: 50px;
				width: 90px;
				// width: 100%;
				// width: 130px;
				border-bottom: 1px solid #ccc;
				cursor: pointer;
				&:hover {
					color: #410a79;
					// opacity: 1;
				}
			}
		}
	}
}
.calendar-grid {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
	width: 98%;

	.weekday-column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		// width: 60px;
		// width: 90%;
	}

	.weekday-cell {
		font-weight: bold;
	}

	.hour-columns {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 60px;

		.hour-row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			// height: 60px;
			height: 45px;
			width: 100%;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
		}

		.hour-cell {
			width: 100%;
			text-align: center;
		}
	}

	.event-cells {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		flex-grow: 1;

		.event-row {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: stretch;
			// height: 60px;
			height: 45px;
			width: 100%;
			border-bottom: 1px solid #ccc;

			.event-cell {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-grow: 1;
				width: 100%;
				// width: 130px;
				border-right: 1px solid #ccc;

				li {
					list-style: none;
				}
				.event {
					padding: 2px 4px;
					margin: 5px auto 0px;
					background-color: #b38add;
					border-radius: 10px;
					color: #fff;
					overflow-wrap: break-word;
					display: block;
					width: 70px;
					margin: 0 auto;
					transition: all 0.5s;
					text-align: center;
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}
