<div class="event-form">
	<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<mat-form-field appearance="outline">
				<mat-label>Title</mat-label>
				<input matInput placeholder="" formControlName="title" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field appearance="outline">
				<input matInput [ngxMatDatetimePicker]="picker1" placeholder="Select start date and time"
					formControlName="startDateTime" [min]="minDate" required>
				<mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
				<ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field appearance="outline">
				<input matInput [ngxMatDatetimePicker]="picker2" placeholder="Select end date and time"
					formControlName="endDateTime" [min]="minDate" required>
				<mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
				<ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field appearance="outline">
				<mat-label>Type events</mat-label>
				<mat-select formControlName="type">
					<mat-option *ngFor="let type of eventTypes" [value]="type">
						{{type}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field appearance="outline">
				<mat-label>Repeat</mat-label>
				<mat-select formControlName="repeat">
					<mat-option *ngFor="let typeRepeat of recurrenceDays" [value]="typeRepeat.value">
						{{typeRepeat.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div *ngIf="eventForm.get('repeat')!.value !== 'none'">
			<mat-form-field appearance="outline">
				<mat-label>Frequency</mat-label>
				<input matInput type="number" placeholder="" formControlName="frequency" required>
			</mat-form-field>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">
			<span>Save</span>
		</button>
	</form>
</div>