.calendar-month-view {
	display: flex;
	flex-direction: column;
	margin: 10px;
	border-collapse: collapse;
	.row {
		display: flex;
		flex-direction: row;
	}
	.week-names {
		background-color: #b38add;
		color: #fff;
	}

	.col {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		text-align: center;
		transition: all 0.2s;
		width: 100px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid darkgrey !important;
		&.disabled {
			opacity: 0.5;
		}

		&:hover {
			background-color: #b38add;
			cursor: pointer;
		}
		&:hover span {
			color: #fff;
		}
		&:hover .event {
			background-color: #fff !important;
		}
		&:hover .event span {
			color: #b38add;
		}
		.cell {
			span {
				font-size: 18px;
			}
			.event {
				padding: 2px 4px;
				margin: 5px auto 0px;
				background-color: #b38add;
				border-radius: 10px;
				color: #fff;
				overflow-wrap: break-word;
				display: block;
				width: 85px;
				margin: 0 auto;
				transition: all 0.5s;
				span {
					font-size: 14px;
				}
			}
		}
	}
}

.active {
	color: #fff;
	background-color: #b38add;
}

.selected {
	color: #fff;
	background-color: #b38add;
}
