<div class="calendar-month-view">
	<div class="row week-names">
		<div class="col">Sun</div>
		<div class="col">Mon</div>
		<div class="col">Tue</div>
		<div class="col">Wen</div>
		<div class="col">Thu</div>
		<div class="col">Fri</div>
		<div class="col">Sat</div>
	</div>
	<div class="row dates" *ngFor="let week of calendar">
		<div class="col" *ngFor="let day of week.days" [class.disabled]="day.disabled" [class.selected]="day.selected"
			(click)="selectDay(day.value)">
			<div class="cell">
				<span>{{ day.value.toDate() | date:'d' }}</span>
				<div class="event" *ngFor="let event of day.events">
					<span>{{event.title}}</span>
				</div>
			</div>
		</div>
	</div>
</div>